/* Add event popup styling */
.add-event-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
}

.add-event-popup h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #343a40;
}

.add-event-popup form div {
    margin-bottom: 15px;
}

.add-event-time-inputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-event-popup input[type="text"],
.add-event-popup input[type="time"],
.add-event-popup textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
    color: #495057;
}

.add-event-popup input[type="text"]:focus,
.add-event-popup input[type="time"]:focus,
.add-event-popup textarea:focus {
    border-color: #80bdff;
    outline: none;
}

/* Notes text area */
.add-event-popup textarea {
    height: 100px;
    resize: none;
}

/* Character count below input fields */
.add-event-popup span {
    font-size: 12px;
    color: #868e96;
    display: block;
    margin-top: 5px;
    text-align: right;
}

/* Task form buttons */
.add-event-form-buttons {
    display: flex;
    justify-content: space-between;
}

.add-event-form-buttons button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-event-form-buttons button:hover {
    background-color: #0056b3;
}

.add-event-form-buttons .cancel {
    background-color: #6c757d;
}

.add-event-form-buttons .cancel:hover {
    background-color: #5a6268;
}