/* Main container takes full viewport width and height */
.reset-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw;  /* Full viewport width */
}

.reset-password-form {
    width: 30%;           /* Responsive width based on parent container */
    padding: 5vw;         /* Proportional padding */
    font-size: 1vw;       /* Font size relative to viewport width */
}

.reset-password-form input {
    width: 100%;          /* Input fields take full width inside form */
    padding: 1vw;         /* Proportional padding inside the input fields */
    margin-bottom: 2vw;   /* Spacing between input fields */
    font-size: 1vw;       /* Input text size based on viewport width */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reset-password-form button {
    width: 100%;          /* Button takes full width of parent */
    padding: 1vw;         /* Proportional padding */
    font-size: 1vw;       /* Font size relative to viewport width */
    background: #34A0A4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 0.5vw; /* Add space between buttons */
}

.reset-password-form button:hover {
    background-color: #08868f; /* Darken button on hover */
}

/* Background size responsive with viewport width */
.background {
    width: 50vw;          /* Responsive width based on viewport */
    background: url(/public/images/login_screen_graphic.png) no-repeat center center;
    background-size: cover;
    height: 100vh;        /* Full viewport height */
}

.title {
    color: #2214E7;
    font-family: Inter, sans-serif;
    font-size: 2vw;       /* Font size relative to viewport width */
    font-weight: 500;
    line-height: normal;
    margin-left: 4vw;
    margin-right: -5vw;   /* Move form 2vw to the right */
}

.form {
    font-size: 2vw;       /* Responsive form text size */
    box-sizing: border-box;
    margin-left: 4vw;
    margin-right: -5vw;   /* Move form 2vw to the right */
}

/* Ensures images are responsive */
img {
    height: auto;
    max-width: 100%;
}

.go-back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .go-back-button:hover {
    background-color: #0056b3;
  }